{{#> layout }}
<h1 class="text-3xl mb-8 font-thin">About / FAQ</h1>
<section class="pb-8">
  <div class="font-bold mb-2">How did Abyssal Odds start?</div>
  <p class="mb-4 text-justify max-w-4xl">
    Abyssal Odds originated from a profound understanding of market dynamics and a deep appreciation
    for the oceanic environment. It was conceived as a platform to provide enthusiasts with an
    unparalleled experience in exploring the mysteries of the sea through digital loot boxes.
  </p>
</section>

<section class="pb-8">
  <div class="font-bold mb-2">Why ocean-themed loot boxes?</div>
  <p class="mb-4 text-justify max-w-4xl">
    Our decision to focus on ocean-themed loot boxes stems from the recognition of the ocean's
    unparalleled significance in human culture and the ecosystem. By incorporating elements of the
    ocean into our offerings, we aim to evoke a sense of wonder and exploration in our users.
  </p>
</section>

<section class="pb-8">
  <div class="font-bold mb-2">Are the odds really abyssal?</div>
  <p class="mb-4 text-justify max-w-4xl">
    The term "abyssal odds" symbolizes the depth and complexity of the experiences we offer. While
    we cannot disclose specific odds due to proprietary reasons, rest assured that our commitment to
    fairness and transparency remains unwavering.
  </p>
</section>

<section class="pb-8">
  <div class="font-bold mb-2">Is Abyssal Odds environmentally friendly?</div>
  <p class="mb-4 text-justify max-w-4xl">
    Sustainability is a core value at Abyssal Odds. We strive to minimize our environmental impact
    by employing eco-conscious practices throughout our operations. From digital delivery to
    responsible sourcing, we are dedicated to preserving the beauty of our oceans for future
    generations.
  </p>
</section>

<section class="pb-8">
  <div class="font-bold mb-2">Can I trade my virtual sea shells for real ones?</div>
  <p class="mb-4 text-justify max-w-4xl">
    While we appreciate the enthusiasm, Abyssal Odds deals exclusively in virtual assets. However,
    we encourage you to cherish your digital treasures as symbols of exploration and discovery in
    the vast ocean of possibilities.
  </p>
</section>

<section class="pb-8">
  <div class="font-bold mb-2">Are there any hidden treasures in Abyssal Odds?</div>
  <p class="mb-4 text-justify max-w-4xl">
    Every interaction with Abyssal Odds holds the potential for discovery. While we cannot divulge
    the specifics, we can assure you that our offerings are meticulously curated to provide users
    with a sense of anticipation and excitement akin to uncovering hidden treasures.
  </p>
</section>
{{/layout}}
